FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"trilheiros-reservas"}
MERCADO_PAGO_ACCESS_TOKEN=
MP_WEBHOOK_URL=https://SEU-BACKEND.vercel.app/api/webhook
PUBLIC_RETURN_URL=https://trilheirosderondonopolis.my.canva.site/
